
body{
    font-family: "Montserrat";
    font-weight: 400;
 }
 
.container-fluid{
    padding: 3% 15% 7%;
    

    
    
}

#title {
    background-color: #ff4c68;
    color: white;
}

h1 {
    font-family:"Montserrat";
    font-weight: 900;     
    font-size: 3rem;
    line-height: 1.5;
    
}
.navbar-brand{
    
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: white;   
    
}
.navbar {
    padding: 0 0 4.5rem;
    
}

.nav-item{
    padding: 0 18px;
    
}
.nav-link{
    font-size: 1.2rem;
    font-family:"Montserrat-light";
    
    
}
#title .btn{
    margin:1%   ;
}
.img1{
    /* padding-top: 20px; */
    width: 18%;
    
    /* position: relative;
    left:20px;
    height: auto; */
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    /* margin:30px 92px; */
    
    
}


#features {
    
    background-color: white;
    padding:7% 15%;
    /* z-index: 1; */
    position: relative;
    
}
#features p {
    color: #818181;
}
#features .fas{
    
    color:#ef8172 ;
    margin-bottom: 1rem;
}
#features .fas:hover{
    color: #ff4c68;
    text-shadow: 0 0 5px #ff4c68;
    transition: all 0.5s ease;
}
#features h3{
    /* font-family: "Montserrat-Bold"; */
    font-size: 1.5rem;
}
.feature-box{
    text-align: center;
    padding:5%;
}
#testimonials{
    padding-top: 7%;
    text-align: center;
    background-color: #ef8172;
    
    color: white;
}
#testimonials img{
    width:10%;
    border-radius: 100%;
    margin:2px;
}
h2 {
    font-size: 3rem;
    /* font-family: "Montserrat-Bold"; */
    font-weight: bold;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;   
}

#press img{
    width: 15%;
    margin: 20px 20px 50px;
}


.carousel-item{
    padding:7% 15%;
}

#pricing {
    padding:100px;
    text-align: center;
}

#pricing .col-lg-4{
    padding:3% 2%;
    
}

#pricing .btn:hover{
    box-shadow: 0 0 15px black;
    transition: all 0.5s ease;
}


@media (max-width:1068px){
    .img1{
        /* padding-top: 80px; */
        width: 60%;
        
        /* position: relative;
        left:20px;
        height: auto; */
        margin-top: 40px;
        transform: rotate(0deg);
        position: static;
        /* right: 30%; */
        /* margin:30px 92px; */
        
        
    }
    #title {
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    color: white;
    
    
}

#cta h3{
    padding-top: 40px;
    font-family:"Montserrat";
    font-weight: 900;     
    font-size: 3.5rem;
    line-height: 1.5;

}

#cta .btn{
    margin:1%;
}

#footer{
    font-family:"Montserrat-Black" ;
    background-color: #fff;
    text-align: center;
    /* font-weight: 600; */
    
    color: lightgray;
    padding: 10% 15% 7%;
}

#footer .fab{
    margin:7px;
}


#footer a{
    
    color: black;
}